body {
    background-color: #121212;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.kart {
    background-color: #1f1f1f;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}

.kart img {
    border-radius: 50%;
    margin-bottom: 10px;
}

button {
    background-color: #00ffcc;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
